<!-- registration/signup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h2>Sign Up</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- Button for 42's login -->
        <a href="{% url 'redirect_to_42' %}" class="btn-42-login">Login with 42</a>

        <button type="submit">Sign Up</button>
    </form>
</body>
</html>
