<!DOCTYPE html>
<html>
<head>
    <title>Friend Example</title>
    <script>
        // Function to send a friend request
        var CurrentUsername;
        function getCSRFToken() {
            const cookieValue = document.cookie
            .split('; ')
            .find(row => row.startsWith('csrftoken='))
            .split('=')[1];
            return cookieValue;
        }
        function sendFriendRequest() {
            // Get the username from the input field
            var username = document.getElementById("username").value;

            // Create a new XMLHttpRequest object
            var xhr = new XMLHttpRequest();

            // Set the request URL
            var url = "request/send/";

            // Set the request method to POST
            xhr.open("POST", url, true);

            // Set the request headers
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("X-CSRFToken", getCSRFToken());

            // Set the request body
            var data = JSON.stringify({
                "receiver_user_id": username
            });

            // Send the request
            xhr.send(data);
        }

        // Function to accept a friend request
        function acceptFriendRequest(userId) {
            // Create a new XMLHttpRequest object
            var xhr = new XMLHttpRequest();

            // Set the request URL
            var url = "accept/" + userId + "/";

            // Set the request method to GET
            xhr.open("GET", url, true);

            // Send the request
            xhr.send();
        }

        async function getFriendList() {
            var response = await fetch("list/");
            var data = await response.json();
            var friendListElement = document.getElementById("friend-list");
            friendListElement.innerHTML = "";
            CurrentUsername = data[0].user.username;
            console.log(CurrentUsername)
            for (var i = 0; i < data.length; i++) {
                var friendList = data[i];
                var userUsername = friendList.user.username;

                for (var j = 0; j < friendList.friends.length; j++) {
                    var friendUsername = friendList.friends[j].username;
                    var friendElement = document.createElement("div");
                    friendElement.innerHTML = "User: " + userUsername + ", Friend: " + friendUsername;
                    friendListElement.appendChild(friendElement);
                }
            }
        }

        // Function to get the list of pending requests
        async function getPendingRequests() {
            var response = await fetch("request/list/");
            var data = await response.json();
            var pendingRequestsElement = document.getElementById("pending-requests");
            pendingRequestsElement.innerHTML = "";

            for (var i = 0; i < data.length; i++) {
                var request = data[i];
                var senderUsername = request.sender.username;
                var receiverUsername = request.receiver.username;

                var requestElement = document.createElement("div");
                if (receiverUsername == CurrentUsername)
                    requestElement.innerHTML = senderUsername;
                else
                    requestElement.innerHTML = receiverUsername;

                // Create a button to accept the request
                if (senderUsername !== CurrentUsername){
                    var acceptButton = document.createElement("button");
                    acceptButton.innerHTML = "Accept";
                    acceptButton.onclick = function() {
                        acceptFriendRequest(senderUsername);
                    };
                    
                    requestElement.appendChild(acceptButton);
                }
                pendingRequestsElement.appendChild(requestElement);
            }
        }
        // Function to get the friend list
    </script>
</head>
<body>
    <h1>Friend Example</h1>

    <h2>Send Friend Request</h2>
    <form>
        <input type="text" id="username" placeholder="Enter username">
        <button type="button" onclick="sendFriendRequest()">Send Request</button>
    </form>

    <h2>Pending Requests</h2>
    <div id="pending-requests"></div>

    <h2>Friend List</h2>
    <div id="friend-list"></div>

    <script>
        // Call the functions to get the pending requests and friend list
        getPendingRequests();
        getFriendList();
    </script>
</body>
</html>