{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Color Form</title>
</head>
<body>
    <h1>Color Form</h1>
    <form id="colorForm">
        <label for="color">Color:</label>
        <input type="text" id="color" name="paddle_color" required>
        <br>
        <input type="submit" value="Submit">
    </form>

    <script>
        async function getCSRFToken() {
            let response = await fetch("/csrf-token");
            let data = await response.json();
            return data.csrfToken;
        };

        document.getElementById("colorForm").addEventListener("submit", async function(event) {
            event.preventDefault(); // Prevent form submission
            const csrftoken = await getCSRFToken();
            var colorInput = document.getElementById("color").value;

            fetch("/accounts/user_info/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrftoken
                },
                body: JSON.stringify({ "paddle_color": colorInput })
            })
            .then(response => response.json())
            .then(data => {
                // Handle response data
                console.log(data);
            })
            .catch(error => {
                // Handle error
                console.error(error);
            });
        });
    </script>
</body>
</html> {% endcomment %}


<form id="sanityForm">
    <label for="input">Input:</label>
    <input type="text" id="input" name="input" required>
    <br>
    <input type="submit" value="Submit">
</form>
<p id="response"></p>
<script>
    async function getCSRFToken() {
        let response = await fetch("/csrf-token");
        let data = await response.json();
        return data.csrfToken;
    };

    document.getElementById("sanityForm").addEventListener("submit", async function(event) {
        event.preventDefault(); // Prevent form submission
        const csrftoken = await getCSRFToken();
        var input = document.getElementById("input").value;

        fetch("/sanity/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken
            },
            body: JSON.stringify({ "input": input })
        })
        .then(response => response.json())
        .then(data => {
            // Handle response data
            console.log(data);
            // Print the response
            document.getElementById("response").innerText = JSON.stringify(data.sanitized_input);
        })
        .catch(error => {
            // Handle error
            console.error(error);
        });
    });
</script>